/* Estructura de CSS */
html {
    font-size: 10px;  /* px quiere decir pixeles: el tamaño de la fuente base es ahora de 10 px de altura */
    font-family: "Open Sans", sans-serif; /* Fuente de Google Fonts*/
    background-color: #00539f;
}

/* Dar estilo al cuerpo del documento */
body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

/* Posicionar y dar estilo al titulo principal de la pagina */
h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
}

/* Selecionar varios elementos separados con , */
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

/* Centrar la image */
img {
    display: block;
    margin: 0 auto;
}

/* Diferentes tipos de selectores y sus ejemplos:
Elemento (p), ID (#nombre),
Clase (.nombre), Atributo (img[src])
y Pseudoclase (a:hover)*/
